.firstContainer{
  display: inline-block;

  width: 200px;
  height: 100%;

  background-color: WHITE;

  cursor: pointer;
}

.secondContainer{  
  display: inline-block;

  width: 200px;
  height: 100%;

  background-color: WHITE;

  cursor: pointer;
}